body {
  background-color: #292C33;
  position: relative;
  overflow-x: hidden;
}

.divisor {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 0.2px solid #656363;
}

/* Navbar */
.navbar-link {
  color: #cfd8dc !important;
}

.navbar-link:hover {
  color: white !important;
}

/* Navbar - Bootstrap */
.navbar {
  margin-bottom: 0px;
}

.navbar-inverse {
  background-color: #263238;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #1f272b;
}

.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #1f272b;
}


/* Palheta de cores*/
.white {
  color: white;
}

.lighten-blue-grey {
  color: #ECEFF1
}

.darken-blue-grey {
  color: #263238
}

.darken-red {
  color: #b71c1c
}


/* Copyright */
.copyright {
  color: white;
  padding-left: 10px;
}

