.panel {
  margin-top: 10px;
}

.panel-title > a:hover,
.panel-title > a:focus {
  text-decoration: none;
}

.panel-heading {
  box-shadow: 0 1px 15px gray;
}

.panel-heading:hover {
  background-color: #efef8f;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.panel-footer {
  box-shadow: 0 1px 5px grey;
  padding: 5px 10px;
}

.justify {
  padding-left: 42px;
}

.btn-class {
  color: #ECEFF1;
  background-color: #343841;
  border: 1px solid #343841;
}

.btn-class:hover {
  color:white;
  background-color: #292C33;
  border: 1px solid #292C33;
}

.icon-color {
  color: #E2E1E1;
  background-color: #263238;
}

.icon-color:hover,
.icon-color:focus,
.icon-color:active {
  color: white;
  background-color: #293A42;
}

.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
  color: white;
  background-color: #293A42;
}

.pagination {
  margin: 10px 0;
}

.icon-md {
  font-size: 20px;
}
