.information-input {
  color: white;
  background-color: #263238;
}

.input-group {
  padding: 10px;
}

.form-group {
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.icon-md {
  font-size: 20px;
}

.submit-button {
  background-color: #263238 !important;
  width: 97%;
  color: white;
  margin-bottom: 10px;
}

.submit-button:hover {
  color: white;
}
