/* Buttons vertical */
.btn-group-vertical {
  width: 100%;
}

.btn-group-vertical > .btn {
  width: 100%;
  height: 100px;
  background-color: transparent;
  border: 1px solid #343841;
  color: #B3B3B3;
  border-radius: 0;
}

.btn-group-vertical > .btn:hover,
.btn-group-vertical > .btn:focus {
  color: white;
  border: 1px solid #343841;
  border-left: 3px solid blue;
}

.icon-lg {
  font-size: 48px;
  padding-top: 20px;
}

/* Message events block*/
.message {
  background-color: #343841;
}

.message > p {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: #B3B3B3;
}

/* Profile block */
.name {
  color: white;
  margin-top: 10px;
}

.label {
  margin-left: 10px;
}

.label-number {
  margin-right: 10px;
}

.panel-title > a:hover,
.panel-title > a:focus {
  text-decoration: none;
}

.panel-heading {
  box-shadow: 0 1px 15px gray;
}

.panel-heading:hover {
  background-color: #efef8f;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.panel-footer {
  box-shadow: 0 1px 5px grey;
}

.email {
  padding-left: 44px;
}

.college {
  padding-left: 10px;
}

.course {
  padding-left: 37px;
}

.pagination {
  margin: 10px 0;
}

.btn-class-group {
  bottom: 7px;
}

.btn-class {
  color: #ECEFF1;
  background-color: #343841;
  border: 1px solid #343841;
}

.btn-class:hover {
  color:white;
  background-color: #292C33;
  border: 1px solid #292C33;
}

.btn-class-danger {
  color: #ECEFF1;
  background-color: #B71C1C;
  border: 1px solid #B71C1C;
}

.btn-class-danger:hover {
  color: white;
  background-color: #BD0E0B;
  border: 1px solid #BD0E0B;
}
