.programation {
  margin-left: 20px;
}

.programation > dt {
  margin-bottom: 10px;
  margin-top: 10px;
}


/* Session TBL modal */
.modal {
  top: 40px;
}

.modal-content {
  background-color: transparent;
  border-radius: 10px;
}

.modal-header {
  background-color: #263238 !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-body {
  background-color: white;
}

.modal-title {
  color: white;
}

.close, .close:hover {
  color: white;
}
