.panel-title > a:hover,
.panel-title > a:focus {
  text-decoration: none;
}

.panel-heading {
  box-shadow: 0 1px 15px gray;
}

.panel-heading:hover {
  background-color: #efef8f;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.panel-footer {
  box-shadow: 0 1px 5px grey;
}

.btn-class {
  color: #ECEFF1;
  background-color: #343841;
  border: 1px solid #343841;
}

.btn-class:hover {
  color:white;
  background-color: #292C33;
  border: 1px solid #292C33;
}

.btn-class-danger {
  color: #ECEFF1;
  background-color: #B71C1C;
  border: 1px solid #B71C1C;
}

.btn-class-danger:hover {
  color: white;
  background-color: #BD0E0B;
  border: 1px solid #BD0E0B;
}

img {
  width: 150px;
  margin: 10px;
}

.panel-group {
  margin-bottom: 10px;
  margin-top: 20px;
  margin-right: 30px;
}

.submit-button {
  background-color: #263238 !important;
  width: 97%;
  color: white;
  margin-bottom: 10px;
}

.submit-button:hover, .submit-button:focus {
  color: white;
}

.send-button {
  background-color: #263238 !important;
  width: 97%;
  color: white;
  margin-bottom: 10px;
  margin-left: 0;
}

.send-button:hover {
  color: white;
}

.remove-student-button {
  color: black !important;
}
