.dashboard {
  margin-right: 0;
  margin-left: 0;
}

.panel-heading {
  background-color: green !important;
  color: white !important;
}

.panel-footer {
  background-color: #263238 !important;
  color: white !important;
}

.report {
  border-radius: 5px 5px 0 0;
  margin-bottom: 0;
  background: green; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#263238, green); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#263238, green); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#263238, green); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#263238, green); /* Standard syntax */
}

.charts {
  width: 100%;
  border-radius: 0 0 5px 5px;
}

.chart {
  width: 100%;
}
